@import '../../../styles/variables'

.navigation
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 auto
    max-inline-size: $container-size

    &__container
        display: flex
        justify-content: space-between
        max-inline-size: 540px
        inline-size: 100%

.points
    display: flex
    gap: 1px
    max-inline-size: 390px
    inline-size: 100%

.container
    position: relative

.modal
    z-index: 50
    inset-block-start: 70px
    inset-inline-start: inherit
    inset-inline-end: 0
    padding: 0.75rem
