@import '../../styles/variables'

.modal
    z-index: 100
    inset-block-start: 50vh
    inset-inline-start: 50vw
    transform: translate(-50%, -50%)
    block-size: 100%
    inline-size: 100%
    max-block-size: 95vh
    max-inline-size: 95vw

    &__images
        padding: 0
        outline: none
        border: none
        overflow: hidden
        background: rgb(34, 34, 34)

    &__review
        position: fixed
        max-block-size: 75vh
        max-inline-size: 75vw
        // top: 0
        // left: 0
        // width: 100%
        // height: 100%
        // display: flex
        // align-items: center
        // justify-content: center
