@import '../../styles/variables'

.carousel
    z-index: 100
    inset-block-start: 50vh
    inset-inline-start: 50vw
    transform: translate(-50%, -50%)
    max-block-size: none
    padding: 0
    max-block-size: 95vh
    max-inline-size: 95vw
    block-size: 100%
    inline-size: 100%
    outline: none
    border: none
    overflow: hidden
    background: rgb(34, 34, 34)
