@import ./variables
@import ./normalize

:root
    max-width: $app-size
    margin: 0 auto
    text-align: center

    line-height: 1
    font-weight: 400

    color: $primary-color
    background-color: $bg-color

*
    font-family: $main-font, sans-serif // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    font-size: 1rem

// div
//     background-color: #c79393
