$primary-color: #191e28
$primary-alt-color: rgba(62, 171, 210, 0.356)

$accent-color: #3faad2
$accent-alt-color: #6fb6cb

$error-color: #e85858

$soft-color: #787b7e

$border-color: rgba(120, 123, 126, 0.2)

$bg-color: #ffffff
$bg-color-additional: #f6f6f6

$main-font: 'Inter Variable', sans-serif
$secondary-font: 'Manrope Variable', sans-serif
$title-font: 'TT Norms', sans-serif

$container-size: 1170px
$app-size: 1440px

$border-radius: 10px
