$primary-color: #191e28
$accent-color: #3faad2
$bg-color: #ffffff
$primary-alt-color: rgba(62, 171, 210, 0.356)
$accent-alt-color: #6fb6cb

$main-font: 'Inter Variable', sans-serif
$secondary-font: 'Manrope Variable', sans-serif

$container-size: 1170px
$app-size: 1440px

$border-radius: 10px
