$primary-color: #191e28
$accent-color: #3faad2
$border-color: #989898
$bg-color: #ffffff
$banner-bg-color: #f3f0f5
$primary-alt-color: rgba(62, 171, 210, 0.356)
$accent-alt-color: #6fb6cb
$footer-bg-color: #f1f5f6

$main-font: 'Inter Variable', sans-serif
$secondary-font: 'Manrope Variable', sans-serif
$title-font: 'TT Norms', sans-serif

$container-size: 1170px
$app-size: 1440px

$border-radius: 10px
